{% extends "base.html" %}

{% block content %}

<!-- <div class="row justify-content-md-center mb-4">
  
</div> -->

<nav>
  <div class="navItem" onclick="goTo('/')">FEED</div>
  <div class="navItem" onclick="goTo('/matches')">MATCHES</div>
  <div class="navItem" id="active" onclick="goTo('/account')">ACCOUNT</div>
</nav>

<div class="mainContent">

  <div class="accountInfo">
    <h1 class="">User Info</h1>
    <div class="accountContainer">
      <div class="leftBlock">
        <h2>{{ user.data.name }}</h2>
        <br>
        <p>Age: {{ user.data.age }}</p>
        <p>{{ user.data.gender }}</p>
        <div class="line"> <p>Age range: </p> <h4>{{ user.data.ageRange[0] }}</h4> <p> to </p> <h4>{{ user.data.ageRange[1]}}</h4> </div>
        <h2>Interest & Hobbies</h2>
        <div class="interestHolder">
              {% for i in user.data.interests %}
                <div class="interestBox">
                  <label for="{{ i }}">{{ i }}</label><br>
                </div>
              {% endfor %}
        </div>
      </div>
      <div class="rightBlock">
        <h3>{{ user.data.question1 }}</h3>
        <p>{{ user.data.answer1 }}</p>
        <br>
        <h3>{{ user.data.question2 }}</h3>
        <p>{{ user.data.answer2 }}</p>
        <br>
        <h3>{{ user.data.question3 }}</h3>
        <p>{{ user.data.answer3 }}</p>
        <br>
      </div>
    </div>

    <form action="/logout" method="post" style="box-shadow: none;">
      <button type="submit" class="form-control btn btn-primary" name="logout">LOG OUT</button>
    </form>
  </div>

</div>

<script>
  function goTo(route) {
    window.location.href = route;
  }
</script>

{% endblock %}
