<div class="logo"></div>
{% extends "base.html" %}

{% block content %}
<div class="row">
      <form method="post" action="/login">
          <legend>Login</legend>
          <div class="form-group">
            <label for="username">Username</label> <br>
            <input type="text" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label> <br>
            <input type="password" class="form-control" name="password">
          </div>
          <div class="form-group" id="login-buttons">
            <input class="btn btn-primary" type="submit" name="type" value="LOGIN">
            <input class="btn btn-success" type="submit" name="type" value="Sign Up">
          </div>
      </form>
</div>
{% endblock %}
