{% extends "base.html" %}

{% block content %}
<div class="row">
      <form id="signup_page" method="post" action="/finish_signup">
          <legend>Create Your Free Account</legend>

          <div class="form-group">
            <label for="fname" id="nameText">FIRST NAME</label> <br>
            <input id="fname" type="text" name="fname" maxlength="20" required>
          </div>

          <div class="form-group">
            <label for="age">AGE</label> <br>
            <input id="age" type="number" name="age" step="1" min="18" max="100" required>
          </div>

          <div class="form-group">
            <label for="ageRange">PREFERED AGE RANGE</label> <br>
            <input id="minAge" type="number" name="minAge" step="1" min="18" max="99" required>
            <input id="maxAge" type="number" name="maxAge" step="1" min="19" max="100" required>
          </div>

          <div class="form-group">
            <label for="gender">GENDER</label> <br>
            <select id="gender" name="gender" required>
              <option value="" disabled selected hidden>Select your gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>

          <div class="form-group">
            <label>INTERESTS</label> <br>
            <fieldset>
              {% for i in interest_list %}
                <div class="checkbox">
                  <input type="checkbox" style="margin-top: -2px" name="interests" id="{{ i }}" value="{{ i }}">
                  <label for="{{ i }}">{{ i }}</label><br>
                </div>
              {% endfor %}
            </fieldset>
          </div>

         <div class="form-group">
          <label for="prompt1">PROMPT #1</label> <br>
          <select name="question1" id="question1" required>
            {% for q in question_list %}
              <option value="{{ q }}">{{ q }}</option>
            {% endfor %}
          </select> <br>
          <textarea name="answer1" id="prompt1" maxlength="250" placeholder="Your answer (max 250 characters)" required></textarea>
        </div>

        <div class="form-group">
          <label for="prompt2">PROMPT #2</label> <br>
          <select name="question2" id="question2" required>
            {% for q in question_list %}
              <option value="{{ q }}">{{ q }}</option>
            {% endfor %}
          </select> <br>
          <textarea name="answer2" id="prompt2" maxlength="250" placeholder="Your answer (max 250 characters)" required></textarea>
        </div>

        <div class="form-group">
          <label for="prompt3">PROMPT #3</label> <br>
          <select name="question3" id="question3" required>
            {% for q in question_list %}
              <option value="{{ q }}">{{ q }}</option>
            {% endfor %}
          </select> <br>
          <textarea name="answer3" id="prompt3" maxlength="250" placeholder="Your answer (max 250 characters)" required></textarea>
        </div>

          <div class="form-group" id="login-buttons">
            <input class="btn btn-primary" type="submit" name="type" value="CREATE ACCOUNT">
          </div>
      </form>
</div>
{% endblock %}
